@media screen and (max-width: 1200px) {
 
.header {
  text-align: center;
  background-color:#26d0c9;
  height:100px;
  color: white;
  font-size: 7px;
  font-family: serif;
  padding-top: 25px;
}

h1 {
  text-align: center;
 }

.disp-block {
  display: block; /* これでブロック要素の扱いになります */
}
.blockcenter{
  margin-left: auto;  /* 【ポイント】*/
  margin-right: auto; /* 【ポイント】*/
  border: 1px dashed #999; /* わかりやすくボーターを付けておきます */
  width: 100vm;
}

a {
 font-size: 10px;
}
 
li {
  text-align: center;
  font-size: 10px;
  list-style: none;
}

.footer {
  background-color: #ceccf3;
  height: 270px;
}
