@media all and (max-width:1000px) {
 
.header {
  text-align: center;
  background-color:#26d0c9;
  height:100px;
  color: white;
  font-size: 24px;
  font-family: serif;
  padding-top: 25px;
}

h1 {
  text-align: center;
  font-size: 7px;
 }

.disp-block {
  display: block;
}
.blockcenter1{
  margin-left: auto;
  margin-right: auto;
  max-width: 25vm;
  height: auto;
}

a {
 font-size: 12px;
}
 
li {
  text-align: center;
  font-size: 7px;
  list-style: none;
}

.footer-list {
  background-color: #ceccf3;
  height: 270px;
  font-size: 10px;
}
}
