.header {
  margin: 0 auto;
  background-color:#26d0c9;
  height:100px;
  color: white;
  text-align: center;
  font-size: 36px;
  padding-top: 10px;
}

h1 {
  text-align: center;
 }

.footer {
  background-color: #ceccf3;
  height: 270px;
}

