.header {
  text-align: center;
  background-color:#26d0c9;
  height:100px;
  color: white;
  font-size: 50px;
  font-family: serif;
  padding-top: 25px;
}

h1 {
  text-align: center;
 }

.disp-block {
  display: block; /* これでブロック要素の扱いになります */
}
.blockcenter{
  margin-left: auto;  /* 【ポイント】*/
  margin-right: auto; /* 【ポイント】*/
  border: 1px dashed #999; /* わかりやすくボーターを付けておきます */
}

li {
  text-align: center;
}

.footer {
  background-color: #ceccf3;
  height: 270px;
}

