.header {
  text-align: center;
  background-color:#26d0c9;
  height:100px;
  color: white;
  font-size: 50px;
  font-family: serif;
  padding-top: 15px;
}

h1 {
  text-align: center;
 }

p.img {
  display: block;
  margin; auto;
}

.footer {
  background-color: #ceccf3;
  height: 270px;
}

